{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry",
				"corejs": 3
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/proposal-object-rest-spread",
		"emotion"
	],
	"env": {
		"production": {
			"plugins": [
				["transform-react-remove-prop-types", {
					"mode": "remove",
					"removeImport": true
				  }]
			]
		}
	}
}
