{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"Edge >= 14",
						"ff >= 54",
						"Chrome >= 58"
					]
				},
				"useBuiltIns": "entry"
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		[
			"@babel/plugin-proposal-object-rest-spread",
			{
				"useBuiltIns": "entry"
			}
		],
		"@babel/plugin-proposal-class-properties",
        "babel-plugin-styled-components"
	]
}
