{
	"presets": [
		["@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
	],
	"plugins": [
		"@babel/proposal-object-rest-spread",
        "@emotion"
    ],
    "env": {
		"production": {
			"plugins": [
				["transform-react-remove-prop-types", {
					"mode": "remove",
					"removeImport": true
				  }]
			]
		}
	}
}
